@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EmploeeTask1.Models.Employee

@{
    Layout = "_Layout";
}
<div>
    <h4>Employee ID:@Model.Id</h4>
    <h4>FirstName:@Model.FirstName</h4>
    <h4>LastName:@Model.LastName</h4>
    <h4>Gender:@Model.Gender</h4>
</div>


